@font-face {
    font-family: "Yekan-Bakh";
    src: url(/assets//yekanbakh/YekanBakhNoEn-Regular.woff) format(woff);
}


main{
    display: flex;
    justify-content: center;
}


main form{
    font-family: "Yekan-Bakh";
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    align-items: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 360px;
    width: 340px;
}


label{
    
    margin-top: 10px;
    margin-right: 40px;
    

}

input{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    width: 250px;
    height: 40px;
    margin-right: 40px;
}

button.submit{
    font-family: "Yekan-Bakh";
    color: white;
    width: 250px;
    margin-top: 20px;
    background-color: green;
    margin-right: 40px;
    height: 40px;
}


section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px; 
    /* height: 80px; */
    background-color: rgb(228, 228, 228);
    margin-right: 40px;
    margin-top: 20px;
    padding: 20px 0;
    
}

i.loading{
    display: none;
}

.socialicon{
    
    font-size: larger;
    font-weight: 600;
    padding: 10px 5px;
}